// rename this file to config.js and enter your own values

module.exports = {
	token: 'TOKEN',
	raidCategoryId: 'CATEGORY_ID',
	exPassesChannelName: 'ex_passes',
	exStaffChannelId: 'CHANNEL_ID',
	devUsername: 'CoollioTee',
	exRaidCategoryIds: [ 'WAVE_1_CATEGORY_ID', 'WAVE_2_CATEGORY_ID' ],
	botRole: 'ROLE_ID',
	developerRole: 'Developer',
	ambiguousGymNames: [
		'Sturgeon Creek Greenway Trail',
	],
	trickyGymNames: [
		'Memorial Bench',
	],
	newRoleOptions: {
		mentionable: true,
	},
	newChannelEmbed: {
		description: 'Hello',
		color: 10027247,
	}
	exChannelPermissions: [
		'SEND_MESSAGES',
		'READ_MESSAGES',
		'VIEW_CHANNEL',
		'ADD_REACTIONS',
		'ATTACH_FILES',
	],
	acceptableImageDimensions: [
		'640x960',
		'640x1136',
		'1136x640',
		'1536x2048',
		'2048x1536',
		'1066x640',
		'820x1280',
		'1280x820',
		'1440x2560',
		'2560x1440',
	],
};
