// rename this file to config.js and enter your own values

module.exports = {
	token: 'TOKEN',
	raidCategoryId: 'CATEGORY_ID',
	exPassesChannelName: 'ex_passes',
	exStaffChannelId: 'CHANNEL_ID',
	devUsername: 'CoollioTee',
	exRaidCategoryIds: [ 'WAVE_1_CATEGORY_ID', 'WAVE_2_CATEGORY_ID' ],
	botRole: 'ROLE_ID',
	developerRole: 'Developer',
	discordAdminRole: 'Discord Admin',
	ambiguousGymNames: [
		'Sturgeon Creek Greenway Trail',
	],
	trickyGymNames: [
		'Memorial Bench',
	],
	newRoleOptions: {
		mentionable: true,
	},
	newChannelEmbed: {
		description: 'Hello',
		color: 10027247,
	}
	exChannelPermissions: [
		'SEND_MESSAGES',
		'READ_MESSAGES',
		'VIEW_CHANNEL',
		'ADD_REACTIONS',
		'ATTACH_FILES',
	],
	scheduledDeletionConfigs: [ {
		cycle: '02:00:00',
		guildId: 'GUILD_ID',
		startsWith: 'quests-',
		categoryId: 'CATEGORY_ID',
	}, {
		cycle: '05:55:00',
		guildId: 'GUILD_ID',
		channelNames: [
			'channel-1',
			'channel-2',
		],
		categoryId: 'CATEGORY_ID',
	} ],
};
