// rename this file to config.js and enter your own values

module.exports = {
	token: 'TOKEN',
	raidCategoryId: 'CATEGORY_ID',
	exPassesChannelName: 'ex_passes',
	devUsername: 'CoollioTee',
	exRaidCategoryId: 'CATEGORY_ID',
};
